<app-spinner [show]="!loadingComplete"></app-spinner>
<div *ngIf="loadingComplete">
  <h4>{{photoDate}}</h4>
  <div class="card">
    <img class="card-img-top" [src]="photo.url" height="300px" alt="Photo of the Day!">
    <div class="card-body">
      <h4 class="card-title">{{photo.title}}</h4>
      <p class="card-text">{{photo.explanation}}</p>
      <button type="button" class="btn btn-secondary">Show HD Photo</button>
      <br>
      <small class="center">&copy; {{photo.copyright}}</small>
    </div>
  </div>
</div>
