<div class="container">
  <br>
  <h3>Astronomy Photo of the Day (APOD)</h3>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item">
          <a [routerLink]="['/apod']" routerLinkActive="active">Today's Photo</a>
        </li>
        <li class="list-group-item" *ngFor="let date of apodDates">
          <a [routerLink]="['/apod', date.routeDate]" routerLinkActive="active">{{date.displayDate}}</a>
        </li>
      </ul>
    </div>
    
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>